#* @vtlvariable name="table" type="schemacrawler.schema.Table" *#
#* @vtlvariable name="formatter" type="org.sitmun.backend.schema.formatter.FormatterEs" *#

[caption=]
.Claves primarias
[%autowidth]
|===
| Clave | Tipo | Columnas

#if($table.primaryKey)
|`$table.primaryKey.name`
|clave primaria
|#foreach($column in $table.primaryKey.columns) `$column.name` #if($foreach.count < $table.primaryKey.columns.size()), #end #end
#end

#foreach($index in $table.alternateKeys)
|`$index.name`
|clave primaria alternativa
|#foreach($column in $index.columns) `$column.name` #if($foreach.count < $index.columns.size()), #end #end
#end
|===
