#* @vtlvariable name="table" type="schemacrawler.schema.Table" *#
#* @vtlvariable name="formatter" type="org.sitmun.backend.schema.formatter.FormatterEs" *#

[caption=]
.Columnas
[%autowidth]
|===
|Tipo |Columna | Tipo de datos

#foreach($column in $table.columns)
|#if($column.isPartOfPrimaryKey()) PK #end #if($column.isPartOfUniqueIndex() && !$column.isPartOfPrimaryKey()) UQ #end #if($column.isPartOfForeignKey()) FK #end
| `$column.name`
|$formatter.columnTypeName($column)
#end
|===
