#* @vtlvariable name="table" type="schemacrawler.schema.Table" *#
#* @vtlvariable name="formatter" type="org.sitmun.backend.schema.formatter.FormatterEs" *#

[caption=]
.Foreign keys
[%autowidth]
|===
| Key | Type | Columns | Cardinality | Reference | Columns

#foreach($key in $table.importedForeignKeys)
|`$key.name`
|foreign key$formatter.ruleDetails($key)
|#foreach($column in $key.constrainedColumns) `$column.name` #if($foreach.count < $key.constrainedColumns.size()), #end #end
|$formatter.cardinality($key)
|`$key.referencedTable.name`
|#foreach($column in $key.columnReferences) `$column.primaryKeyColumn.name` #if($foreach.count < $key.columnReferences.size()), #end #end
#end
|===
